examples/Only messages at regular intervals.json
[{"id":"c14d18fb2f366c41","type":"tab","label":"Rate limiting","disabled":false,"info":"","env":[]},{"id":"91a991fc4b0752ef","type":"victron-input-temperature","z":"c14d18fb2f366c41","service":"com.victronenergy.temperature/34","path":"/Temperature","serviceObj":{"service":"com.victronenergy.temperature/34","name":"First floor"},"pathObj":{"path":"/Temperature","type":"float","name":"Temperature (°C)"},"name":"Temperature - First floor","onlyChanges":true,"roundValues":"2","x":240,"y":160,"wires":[["0947ba020ecad313"]]},{"id":"0947ba020ecad313","type":"change","z":"c14d18fb2f366c41","name":"","rules":[{"t":"set","p":"temperature.firstfloor","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":160,"wires":[[]]},{"id":"8e786c64b42c188f","type":"inject","z":"c14d18fb2f366c41","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"temperature.firstfloor","payloadType":"flow","x":280,"y":220,"wires":[["78c40d303c6084d2"]]},{"id":"78c40d303c6084d2","type":"debug","z":"c14d18fb2f366c41","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":220,"wires":[]}]
