examples/Trigger based scheduling.json
[{"id":"aaa14838.e2a268","type":"inject","z":"6077200f.d44cd","name":"Trigger 'ON' at 22:00","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"x":240,"y":420,"wires":[["87b4cc47.a7886"]]},{"id":"e2730bab.207058","type":"inject","z":"6077200f.d44cd","name":"Trigger 'OFF' at 6:00","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"x":240,"y":460,"wires":[["87b4cc47.a7886"]]},{"id":"87b4cc47.a7886","type":"victron-output-vebus","z":"6077200f.d44cd","service":"com.victronenergy.vebus.ttyO1","path":"/Mode","serviceObj":{"service":"com.victronenergy.vebus.ttyO1","name":"Quattro 48/5000/70-2x100","paths":[{"path":"/Ac/In/1/CurrentLimit","type":"float","name":"Input 1 current limit (A)","writable":true},{"path":"/Ac/In/2/CurrentLimit","type":"float","name":"Input 2 current limit (A)","writable":true},{"path":"/Mode","type":"enum","name":"Switch Position","enum":{"1":"Charger Only","2":"Inverter Only","3":"On","4":"Off"},"writable":true}]},"pathObj":{"path":"/Mode","type":"enum","name":"Switch Position","enum":{"1":"Charger Only","2":"Inverter Only","3":"On","4":"Off"},"writable":true},"initial":"","name":"","x":570,"y":440,"wires":[]}]
